div.smallContainer{
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    width: 340px;
    height: 150px;
    float: left;
    border: 2px solid purple;
    border-radius: 5px;
    position: relative;
}
button{
    background-color: black;
    color: white;
    border-radius: 2px;
}
button.smallWindowBtnL{
    position: absolute;
    bottom: 8px;
    left: 15px;
    width: 90px;
}

button.smallWindowBtnR{
    position: absolute;
    bottom: 8px;
    left: 110px;
    width: 90px;
}

div.largeContainer{
    margin: 5px;
    padding: 5px;
    width: 340px;
    height: 620px;
    border: 2px solid purple;
    border-radius: 5px;
    float: left;
    text-align: center;
}

h3{
    color: hotpink;
}
h2.header{
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; 
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
li{
    display: block;
}
header{
    background-color: gray;
    height: 40px;
    border-radius: 5px;
}